body, html {
  height: 100%;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

.hero {
  background-image: url('../img/balloon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 3em 0 5em 0;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 700px;
}

.hero-xs {
  background-image: url('../img/balloon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 0 0 5em 0;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 300px;
}

.hero-title-xs {
  font-size: 10vmin;
  padding-top: 125px;
}

h1 {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
  text-shadow: 0px 0px 3px #ff0000;
  opacity: 0.7;
}

h4 {
  margin-top: 0;
  text-align: center;
}

p {
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
}

.bio-text-xs {
  padding: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 0;
}

.bio-text-sm {
  padding: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 0;
}

.bio-text-md {
  padding: 15px 15px 10px 15px;
  text-align: center;
  margin-bottom: 0;
}

.bio-text-lg {
  padding: 25px 25px 15px 25px;
  text-align: left;
  margin-bottom: 0;
}

.bio-xs {
  color: #3a5068;
  margin-top: 25px;
  height: 600px;
}

.bio-sm {
  color: #3a5068;
  margin-top: 15px;
  height: 360px;
}

.bio-md {
  color: #3a5068;
  margin-top: 25px;
  height: 415px;
  margin-bottom: 75px;
}

.bio-lg {
  color: #3a5068;
  margin-top: 15px;
  height: 390px;
}

.btn-link{
  color: #fff;
}

.dropdown-xs {
  width: 100%;
  height: 40px;
  margin-top: 0;
  background: transparent;
  border:none;
  box-shadow: none;
  outline: none;
  text-align: center;
  color: #fff;
  opacity: 1.0;
  position: relative;
}

.dropdown-menu {
  text-align: center;
  background-color: transparent;
  width: 200px;
}

.btn-link {
  color: #fff !important;
  text-decoration: none !important;
}
.dropdown-menu-sm {
  left: 27%;
}

.small-menu {
  width: 100%;
  border-radius: 0 !important;
  opacity: 10.7;
}

.dropdown > a {
  background:none;
  border:none;
  box-shadow:none;
  outline: none;
}

.dropdown > li > a:hover {
  background-color: transparent;
}

.kaixo-image {
  margin-top: 15px;
  margin-left: 0;
  width: 100%;
}

.kaixo-xs {
  margin-top: 78px;
}

.top-image {
  padding-right: 0;
}

img {
  width:100%;
}

.image {
  padding: 0;
  margin-bottom: 30px;
}

.catalist {
  color: #3a5068;
}

.embed-responsive {
  margin-bottom: 100px;
}